:root{
  --aside-width: 50px;
  --theme-color: #333;
  --theme-bg: #fff;
  --aside-bg: 48, 48, 48;
  --aside-color: 233,233,233;
  --app-width: 70px;
  --app-height: 90px;
  --grid-row-gap:8px;
  --grid-col-gap:19px;
  --topbar-height: 26px;
  --border-radius: 6px;
}

.dark:root {
  --theme-color: #ccc;
  --theme-bg: #111;
}